.footer {
  font-family: 'Gentium Basic', serif;
  font-weight: 500;
  font-size: 35px;
  max-width: 60rem;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  bottom: 0;
  position: absolute;
}

.footer ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  margin: 0;
  padding: 0 200px;
  margin-left: 10%;
}

.footer li {
  padding: 20px;
  align-items: center;
}


.footer ul:hover,
.footer ul:active,
.footer ul.active {
    color: rgb(228, 211, 211);
}
