.logo {
  font-family: 'Gentium Basic', serif;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  max-width: max-content;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }
}