.header {
    width: 100%;
    height: 6rem;
    background-color: var(--color-grey-900);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.header li {
  margin: 0 var(--size-4);
  padding: 15px;
  font-size: 1.5rem;
  margin: 0 var(--size-4);
  font-family: 'Gentium Basic', serif;
}

.logo {
    color: var(--color-grey-100);
    font-weight: 500;
}

.nav__list :hover,
.nav__list :active,
.nav__list.active {
    text-decoration: underline;
    font-weight: bold;
}

@media (min-width: 768px) {
    .header ul {
        gap: 0.5rem;
    }
    .header a {
        font-size: var(--size-5);
    }
}