.about {
  font-family: 'Gentium Basic', serif;
  text-align: center;
  font-size: 26px;
  margin: auto;
  justify-content: space-around;
  display: inline;
}

.about p {
  max-width: 100%;
  text-align: center;
}
