.about {
  font-family: 'Gentium Basic', serif;
  text-align: center;
  margin: auto;
  justify-content: space-around;
  display: inline;
}

.header{
  text-align: center;
  max-width: 100%;
  font-size: 26px;
}

.body {
  font-size: 20px;
  margin: auto;
  justify-content: center;
  text-align: justify;
  max-width: 45em;
}